@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    background: #f1f1f1;
}

.info-text p{
    font-style: italic;
    font-weight: bold;
    color: #86898f;
}

.info-text h1{
    font-family: 'Roboto Mono';
}

.card {
    border: 1px solid #135d30;
    border-radius: 12px;
    margin-top: 8px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-red {
    background: #ffe5e5;
}

.bg-green {
    background: #e5ffe7;
}