@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    background: #f1f1f1;
}

a {
    color: #4d7acd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* a:visited {
    color: gray;
} */

a:active {
    color: #be4dcd;
}


.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.avatar {
    width: 30%;
    height: 10%;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0 , 0, 0.20);
    display: block;
    margin-top: 16px;
    
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 44px;
}

.info-text p{
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    margin: 0;
}

.info-text h1{
    font-family: 'Roboto Mono';
}

.info h4 {
    margin-bottom: 8px;
    font-family: 'Roboto Mono';
}

.info a {
    margin-left: 16px;
    margin-right: 16px;
}

.card {
    border: 1px solid #135d30;
    border-radius: 12px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 8px;
    font-family: 'Roboto Mono';
    margin-top: 8px;
}

.card-soc {
    margin: 24px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-red {
    background: #ffe5e5;
}

.bg-green {
    background: #e5ffe7;
}

.btn {
    color: #fff;
    background:  #3a5ad7;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background:  #122a88;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #6f7278;
    margin-bottom: 8px;
    
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    width: 300px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 8px;
}

.table td:nth-child(2), .table td:nth-child(3) {
    color: #6f7278;
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 12px;
    margin-right: 24px;
    width: 46%;
}

.form-row .form-group {
    display: flex;
}


.form-group label {
    /* display: inliblock; */
    font-size: 14px;
    color: #000000;
    margin-top: 18px;
    width: 50%;
    padding-right: 18px;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    padding: 16px 0 12px;
    outline: none;
    font-family: inherit;
}
